<div class="body">
    
    <!-- State -->
    
    <div class="state-section">

        <!-- Connection -->

        <div [ngStyle]="{'background-color': ping_ms != null ? 'var(--green-color)' : 'var(--red-color)'}" class="connection">
            <div *ngIf="ping_ms == null"> Disonnected </div>
            <div *ngIf="ping_ms != null"> Connected </div>
            <div *ngIf="ping_ms != null">
                Ping : {{ping_ms!.toFixed(0)}} ms
            </div>
        </div>

        <!-- Navigation -->

        <div>
            <div class="nav-data">
                <div>Speed : {{getSpeedKmh().toFixed(0)}} km/h</div>
                <div>Altitude : {{position.altitude_m.toFixed(0)}} m</div>
            </div>

            <div class="attitude">
                <div class="attitude-field">
                    <img class="attitude-icon" [ngStyle]="{'transform': 'rotate('+attitude.roll_deg+'deg)'}" src="/assets/icons/attitude/back.png">
                    <div class="attitude-value">Roll : {{attitude.roll_deg.toFixed(0)}}°</div>
                </div>

                <div class="attitude-field">
                    <img class="attitude-icon" [ngStyle]="{'transform': 'rotate('+attitude.pitch_deg+'deg)'}" src="/assets/icons/attitude/side.png">
                    <div class="attitude-value">Pitch : {{attitude.pitch_deg.toFixed(0)}}°</div>
                </div>

                <div class="attitude-field">
                    <img class="attitude-icon" [ngStyle]="{'transform': 'rotate('+attitude.yaw_deg+'deg)'}" src="/assets/icons/attitude/top.png">
                    <div class="attitude-value">Yaw : {{attitude.yaw_deg.toFixed(0)}}°</div>
                </div>
            </div>
        </div>

        <!-- Mode -->

        <div class="modes">
            <div class="mode-option mode-idle"      [ngClass]="getModeState(Mode.IDLE)"     (click)="onSetMode(Mode.IDLE)">IDLE</div>
            <div class="mode-option mode-takeoff"   [ngClass]="getModeState(Mode.TAKEOFF)"  (click)="onSetMode(Mode.TAKEOFF)">TAKEOFF</div>
            <div class="mode-option mode-manual"    [ngClass]="getModeState(Mode.MANUAL)"   (click)="onSetMode(Mode.MANUAL)">MANUAL</div>
            <div class="mode-option mode-auto"      [ngClass]="getModeState(Mode.AUTO)"     (click)="onSetMode(Mode.AUTO)">AUTO</div>
            <div class="mode-option mode-landing"   [ngClass]="getModeState(Mode.LANDING)"  (click)="onSetMode(Mode.LANDING)">LANDING</div>
        </div>
    
    </div>


    <div id="map" class="map">
    </div>
</div>