.body
{
    display: grid;
    grid-template-columns: 350px auto;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    padding: 0px;
    height: 100vh;
    font-size: 14px;
}

.leaflet-marker
{
    background-color: black;
}

.state-section
{
    grid-column: 1;
    background-color: var(--main-bg-color);
    margin: 0px;
    height: 100%;
}

.connection
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 14px;
    padding: 10px;
}

.attitude
{
    padding: 15px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.attitude-field
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 10px;
}

.attitude-icon
{
    height: 80px;
    width: 80px;
    padding: 0px;
    border-radius: 100px;
    overflow: hidden;
    filter: invert(80%);
    border: 1px solid rgb(0, 0, 0);
}

.nav-data
{
    display: flex;
    flex-direction: row;
    padding: 15px;
    text-align: center;
    justify-content: space-evenly;
}

.modes
{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
    text-align: center;
    column-gap: 0px;
    justify-self: center;
}

.mode-option
{
    width: 70px;
    padding: 5px;
    align-content: center;
    background-color: var(--secondary-bg-color);
}

.mode-selected
{
    background-color: var(--green-color);
}

.mode-available
{
    cursor: pointer;
}

.mode-unavailable
{
    filter: brightness(50%);
}

.mode-idle
{
    grid-row: 1/3;
    grid-column: 1;
}

.mode-takeoff
{
    grid-row: 1/3;
    grid-column: 2;
}

.mode-manual
{
    grid-row: 1;
    grid-column: 3;
}

.mode-auto
{
    grid-row: 2;
    grid-column: 3;
}

.mode-landing
{
    grid-row: 1/3;
    grid-column: 4;
}

.map {
    grid-column: 2;
    height: 100%;
    padding: 0;
  }